Package: com.sushibta.connectta
Name: ConnectTA
Version: 0.4.7
Architecture: iphoneos-arm64
Description: ConnectTA app bridge for CarPlay with per-app selection.
Maintainer: sushibta25-design
Author: sushibta25-design
Section: Tweaks
Depends: mobilesubstrate, preferenceloader

Conflicts: com.sushibta.minita
Replaces: com.sushibta.minita
Provides: com.sushibta.minita
